.navbar{
    display: flex;
    margin-top: 2vh;
    margin-bottom: 2vh;
    justify-content: space-between;
}

.logo{
    width: 10vh;
    align-items: flex-start;
  
}

.nav-list{
    justify-content: flex-end;
    align-items: center;
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    display: inline-block;
    color:white;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover{
    color: gray;
}


.active-nav-item{
    color: rgb(128, 0, 255);
}

.active-nav-item:hover{
    color: #f6f6f6;
}

.menu{
    display: none;
}

.menu-line{
    width: 35px;
    height: 5px;
    background-color: white;
    margin-bottom: 7px;
}

@media all and (max-width: 480px) {
    .navbar{
        flex-direction: column;
        
        position: relative;
        padding-top: 100px;
    }
    .menu{
        display: block;
        position: absolute;
        align-items: center;
        right: 0;
        top: 20px;

    }
    .logo{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }
    .nav-list{
        flex-direction: column;
        width:100%;
       text-align: center;
       display:none;
    }
    .nav-list2{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100%;
        list-style-type:none;
        margin: auto;
    }
    .nav-item{
        border-bottom: 2px solid white;
        width: 100%;
        display: flex;
        margin-bottom: 10px;
        justify-content: left;
        flex-direction: column;
        text-align:center;
    }

    .button{
        color: black;
    }
    
}